beautifulsoup4==4.12.0
certifi==2022.12.7
charset-normalizer==3.1.0
greenlet==3.0.3
idna==3.4
playwright==1.43.0
pycodestyle==2.10.0
pyee==11.1.0
requests==2.28.2
soupsieve==2.4
tomli==2.0.1
typing_extensions==4.11.0
urllib3==1.26.15
websockets==12.0
zhconv==1.4.3
